In [13]:

cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]
city = "Manchester"
print("The average temperature in " + (city) + " is " + str(temperatures.index[cities.index('Manchester')]))

TypeError: 'builtin_function_or_method' object is not subscriptable

In [14]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
    'Chenai':[13.04, 80.16, 'MAA']
}

In [16]:
a = 9/2
print (a)

4.5

In [17]:
a = 9%2
print (a)

1

In [18]:
8%2

0

In [19]:
print( (2*3) ** 2 )

36

In [20]:
print( (2*3) ** 2 / (12 % 5) )

18.0

In [21]:
(2+4) ** 2 % (120 / 30)

0.0

In [22]:
(2+4) ** 2 % (120 / 20)

0.0

In [23]:
(2+4) ** 2 % (120 / 5)

12.0

In [24]:
(2+4) ** 2 % (120 / 7)

1.7142857142857153

In [25]:
(2+4) ** 2 % (120 / 3)

36.0

In [26]:
(2+4) ** 2 % (120 / 9)

9.333333333333332

In [27]:
(2+4) ** 2 % (120 / 11)

3.272727272727275

In [28]:
(2+4) ** 2 % (120 / 1)

36.0

In [29]:
(2+4) ** 2 % (120 / 13)

8.30769230769231

In [30]:
(2+4) ** 2 % (120 / 13.5)

0.44444444444444287

In [31]:
(2+4) ** 2 % (120 / 14)

1.7142857142857153

In [32]:
(2+4) ** 2 % (120 / 15)

4.0

In [33]:
(2+4) ** 2 % (120 / 16)

6.0

In [36]:
result = -2 * 10
print("I'm wasting space...")
print(type(result))
result = float (result)
print(type(result))

I'm wasting space...
<class 'int'>
<class 'float'>

In [37]:
myFirstVariable = 1 * 5
print(myFirstVariable)

5

In [38]:
mySecondVariable = myFirstVariable
print(mySecondVariable)

5

In [39]:
myFirstVariable = 2
print(myFirstVariable)
print(mySecondVariable)

2
5

In [40]:
name = "Peter"

print(name)

Peter

In [41]:
cheers ??? name ??? " is awesome!"
print(cheers)

SyntaxError: invalid syntax (<ipython-input-41-0c2164a99c14>, line 1)

In [42]:
cheers + name + " is awesome!"
print(cheers)

NameError: name 'cheers' is not defined

In [43]:
"cheers" + name + " is awesome!"
print(cheers)

NameError: name 'cheers' is not defined

In [44]:

"cheers" + name + " is awesome!"
print(cheers)

NameError: name 'cheers' is not defined

In [45]:
cheers = name + " is awesome!"
print(cheers)

Peter is awesome!

In [46]:
famous_geographer = "Mercator"
print(famous_geographer)

Mercator

In [47]:
this_var = "Mercator"
This_var = "Galileo"

print(this_var)
print(This_var)

Mercator
Galileo

In [48]:
old_satellite = 'Sputnik 1'
old_satellite_description = " was the first artificial Earth satellite, launched from the Soviet Union on the 4th of October, 1957."
print("Здравствуйте! My name is " + old_satellite)
print(old_satellite + old_satellite_description)

Здравствуйте! My name is Sputnik 1
Sputnik 1 was the first artificial Earth satellite, launched from the Soviet Union on the 4th of October, 1957.

In [50]:
old_satellite = 'Sputnik 1'
old_satellite_description = " was the first artificial Earth satellite, launched from the Soviet Union on the 4th of October, 1957."
new_satellite = "landsat"
print("Здравствуйте! My name is " + old_satellite)
print(old_satellite + old_satellite_description)
print("The new satellite is " + new_satellite + " and the old satellite is " + old_satellite)

Здравствуйте! My name is Sputnik 1
Sputnik 1 was the first artificial Earth satellite, launched from the Soviet Union on the 4th of October, 1957.
The new satellite is landsat and the old satellite is Sputnik 1

In [51]:
print("Hello there " + (new_satellite)+"8" )

Hello there landsat8

In [52]:
diameter_cm = 58
cm2inches = 0.393700787
diameter_inches = (diameter_cm * cm2inches) 
print(diameter_inches)

22.834645646

In [53]:
print(new_satellite + "has a Near Infrared (NI), \
which band captures light in the wavelength from "+
      770 +
      " to " +
      900 +
      " nanometers." )

TypeError: can only concatenate str (not "int") to str

In [54]:
print(new_satellite + "has a Near Infrared (NI), \
which band captures light in the wavelength from "+
      "770" +
      " to " +
      "900 ''+
      " nanometers." )

SyntaxError: EOL while scanning string literal (<ipython-input-54-447828320445>, line 5)

In [55]:
print(new_satellite + "has a Near Infrared (NI), \
which band captures light in the wavelength from "+
      " 770 " +
      " to " +
      " 900 "  +
      " nanometers." )

landsathas a Near Infrared (NI), which band captures light in the wavelength from  770  to  900  nanometers.

In [56]:
# King's College coordinates
# What format are they in? Does it seem appropriate?
longitude = -0.11596798896789551
latitude = 51.51130657591914

#cast the floats to strings
lon = str(longitude)
lat = str(latitude)

# King's College marker
KCL_position = "https://www.openstreetmap.org/?mlat="+lat+"8&mlon="+lon+"#map=15/"+lat+"/"+lon
          
print(KCL_position)

https://www.openstreetmap.org/?mlat=51.511306575919148&mlon=-0.11596798896789551#map=15/51.51130657591914/-0.11596798896789551

In [57]:
projection="Cassini-Soldner" 
print("The "  projection + " projection preserves distances along the central meridian.")

SyntaxError: invalid syntax (<ipython-input-57-23aa2afd0aac>, line 2)

In [58]:
projection = Cassini-Soldner
print("The "  projection + " projection preserves distances along the central meridian.")

SyntaxError: invalid syntax (<ipython-input-58-9a03743efd62>, line 2)

In [59]:
projection="Cassini-Soldner" 
print("The " + projection + " projection preserves distances along the central meridian.")

The Cassini-Soldner projection preserves distances along the central meridian.

In [60]:
projection="Cassini-Soldner" 
print("The " +  projection + " projection preserves distances along the central meridian.")

The Cassini-Soldner projection preserves distances along the central meridian.

In [61]:
print("london has an approx. popoulation of "+ popn + " million people ")

NameError: name 'popn' is not defined

In [62]:
"london has an approx. popoulation of" + 8.5 + "million people "

TypeError: can only concatenate str (not "float") to str

In [63]:
"london has an approx. popoulation of" + float(8.5) + "million people "

TypeError: can only concatenate str (not "float") to str

In [64]:
"london has an approx. popoulation of" + str(8.5) + "million people "

'london has an approx. popoulation of8.5million people '

In [65]:
"london has an approx. popoulation of" + "8.5" + "million people "

'london has an approx. popoulation of8.5million people '

In [66]:
"london has an approx. popoulation of" + " 8.5 " + "million people "

'london has an approx. popoulation of 8.5 million people '

In [67]:
london_population = 8600000
print("London's population is " + london_population)

TypeError: can only concatenate str (not "int") to str

In [68]:
london_population = "8600000"
print("London's population is " + london_population)

London's population is 8600000

In [69]:
myBoolean = True
print(myBoolean)
print("This statement is: '" + str(myBoolean) + "'")

True
This statement is: 'True'

In [70]:
first_variable = 87.0
second_variable = 9

print(first_variable % 80 < second_variable)

True

In [71]:
print("Aardvark" ??? "Ant")
print ord(n)

SyntaxError: invalid syntax (<ipython-input-71-a15d509b55c0>, line 1)

In [72]:
print("Aardvark" ??? "Ant")
print (ord(n))
print (ord(t))

SyntaxError: invalid syntax (<ipython-input-72-6b49fb0e5571>, line 1)

In [73]:
print("Aardvark" > "Ant")
print (ord(n))
print (ord(t))

False

NameError: name 'n' is not defined

In [74]:
print("Aardvark" ??? "Ant")
print (ord("n"))
print (ord("t"))

SyntaxError: invalid syntax (<ipython-input-74-0e760f11f0a9>, line 1)

In [75]:
print("Aardvark" > "Ant")
print (ord(n))
print (ord(t))

False

NameError: name 'n' is not defined

In [76]:
print("Aardvark" > "Ant")
print (ord("n"))
print (ord("t"))

False
110
116

In [77]:
2 == 34

False

In [78]:
7 == 7

True

In [79]:
"Foo" == "Foo"

True

In [80]:
"Foo" == "Bar"

False

In [81]:
10 % 3 == 3 / 3

True

In [82]:
print(10 % 3)
print(3 / 3)

1
1.0

In [83]:
# Reset the variables to their 'defaults'
british_capital = "London"
french_capital  = "Paris"

# This time python is going to print True,
# since we are comparing different things
# using the Not Equal operator!
print(british_capital != french_capital)

True

In [84]:
# Condition 1
if 2 > 1:
    print("> Condition #1")
    
# Condition 2
if 1 > 2: 
    print("> Condition #2")
    
# Condition 3
if "Foo" == "Foo":
    print("> Condition #3")
    myVar = 1 + 5
    print("     My var: " + str(myVar))
    
# Condition 4
if "Foo" != "Foo":
    print("> Condition #4")
    myVar = 1 + 5
    print("     My var: " + str(myVar))
    
print("Done.")

> Condition #1
> Condition #3
     My var: 6
Done.

In [85]:
london_population = 8600000
paris_population  = 2200000 

if london_population > paris_population:
    print("London is larger than Paris")

London is larger than Paris

In [86]:
london_population = 8600000

if london_population > 2000000:
    print(str(london_population) + " is more than 2 million people")

if london_population < 10000000:
    print(str(london_population) + " is less than 10 million people")

8600000 is more than 2 million people
8600000 is less than 10 million people

In [87]:
if (london_population % 8000000) == 600000:
    print("Good job")

Good job

In [88]:
newyork_population = 8400000 

if london_population < newyork_population:
    largest_city = "New York" 
else:
    largest_city = "London"
    
print("The largest city is " + largest_city)

The largest city is London

In [90]:
mythreshold = 1000000
if london_population <= mythreshold:
    print("London's population is below my threshold")
else: 
    print("London's popuation is above my threshold")

London's popuation is above my threshold

In [91]:
# Like so:
myUpperBoundary = 12000000
myLowerBoundary = 2000000

if london_population < myUpperBoundary:
    print("London is below my upper threshold.")

elif london_population > myLowerBoundary:
    print("London is above my lower threshold.")

elif london_population != 340000: 
    print("London population is not equal to 340,000.")
    
else:
    print("How did I get here?")
    
print("And now back to normal code execution.")

London is below my upper threshold.
And now back to normal code execution.

In [92]:
london_population = 10
if london_population <= 9:
    print("First case is true")
elif london_population > 99: 
    print("Second case is true")
elif london_population == 4:
    print("Third case is true")
else:
    print("Well, looks like none of the above statements were true!")

print("And now back to normal code execution.")

Well, looks like none of the above statements were true!
And now back to normal code execution.

In [93]:
condition1 = 2 < 4 # True
condition2 = (6/3) == 2 # Also True

if (condition1) and (condition2): # Both are true
    print("1. Both conditions are true!")
else:
    print("1. Mmm... something's wrong!")
    
if condition1 and 6.0/5 == 1:
    print("2. Both conditions are true!")
else:
    print("2. Mmm... something's wrong!")

1. Both conditions are true!
2. Mmm... something's wrong!

In [98]:
condition1 = 2 < 4
condition2 = (6/3) != 2

if (condition1) or (condition2):
    print("Either one or two conditions are true!")
else:
    print('mmh..they must both be false')

Either one or two conditions are true!

In [100]:



if not conditionInverted:
   print("I'm True")
elif not (4%3  != 1):
   print("2")
else:
   print("99" == str(99)+1)

2

In [117]:
# variable with the City borough's total population (in thousands)
city_of_London = 7.375
# City borough's map marker
city_coords = "http://www.openstreetmap.org/?mlat=51.5151&mlon=-0.0933#map=14/51.5151/-0.0933"

# Other boroughs
camden = 220.338
camden_coords = "http://www.openstreetmap.org/?mlat=51.5424&mlon=-0.2252#map=12/51.5424/-0.2252"
hackney = 246.270
hackney_coords = "http://www.openstreetmap.org/?mlat=51.5432&mlon=-0.0709#map=13/51.5432/-0.0709"
lambeth = 303.086
lambeth_coords = "http://www.openstreetmap.org/?mlat=51.5013&mlon=-0.1172#map=13/51.5013/-0.1172"

# Let's ask the user for some input
# and store his answer
user_input = input("""
Choose a neighbourhood by type the corresponding number:
1- City of London
2- Lambeth
3- Camden
4- Hackney
""")

# Arbitrarily assign case 1 to City of London borough

if (user_input == '1'):    
    choosen_borough = city_of_London
    borough_coordinates = city_coords 
    # print the output
    # notice we are casting the user answer to string
    print("You have choosen number : "+ str(user_input))
    print("The corresponding borough has a population of "+ str(choosen_borough) +" thousand people")
    print("Visit the borough clicking here: " + borough_coordinates)

    # ---------------
    # add more cases here...
    # ---------------
#lambeth 2
elif (user_input == "2"):
    choosen_borough = lambeth
    borough_coordinates = lambeth_coords
    print("You have choosen number :"+ str(user_input))
    print("The corresponding borought has a population of"+ str(choosen_borough)+"thousand people")
    print("Visit the borough clicking here: " + borough_coordinates)
#candem 3
elif (user_input == "3"):
    choosen_borough = camden
    borough_coordinates = camden_coords
    print("You have choosen number :"+ str(user_input))
    print("The corresponding borought has a population of"+ str(choosen_borough)+"thousand people")
    print("Visit the borough clicking here: " + borough_coordinates)
    
#hackney 4
elif  (user_input == "4"):
    choosen_borough = hackney
    borough_coordinates = hackney_coords
    print("You have choosen number :"+ str(user_input))
    print("The corresponding borought has a population of"+ str(choosen_borough)+"thousand people")
    print("Visit the borough clicking here: " + borough_coordinates)
    
else:
    print("That's not in my system. Please try again!")

Choose a neighbourhood by type the corresponding number:
1- City of London
2- Lambeth
3- Camden
4- Hackney
 4

You have choosen number :4
The corresponding borought has a population of246.27thousand people
Visit the borough clicking here: http://www.openstreetmap.org/?mlat=51.5432&mlon=-0.0709#map=13/51.5432/-0.0709

In [123]:
x = 12
y = 10

z = x + y
x = x + y
y = z + y

print(z)
print(x)
print(y)

22
22
32

In [124]:
myList = [1,2,4,5]
print(myList)

[1, 2, 4, 5]

In [125]:
myList = ['hi I am', 2312, 'mixing', 6.6, 90, 'strings, integers and floats']
print(myList)

['hi I am', 2312, 'mixing', 6.6, 90, 'strings, integers and floats']

In [127]:
myNewList = ['first', 'second', 'third']
print("The first element is: " + myNewList[0])
print("The third element is: " + myNewList[2])
print(myNewList[-1])
print(myNewList[-2])

The first element is: first
The third element is: third
third
second

In [132]:
myNewList = ['first', 'second', 'third']
print("The second element is :" + myNewList[-3])

The second element is :first

In [133]:
myString = "ABCDEF"
print(myString[0])
print(myString[-1])

A
F

In [134]:
shortSentence = "Now I'll just print THIS word, between the 20th and the 25th character: "
print(shortSentence[20:25])

THIS

In [135]:
shortSentence2 = "A12B34c7.0"
print(shortSentence2[1:3])

12

In [137]:
stringToPrint = "I will print from HERE onwards"
print("Starting from the 17th position: '" + stringToPrint[17:] + "'")

Starting from the 17th position: ' HERE onwards'

In [140]:
stringToPrint = "I will print from HERE onwards"
print("Up to the 18th position (Way 1): '" + stringToPrint[-8:] + "'")
print("Up to the 18th position (Way 2): '" + stringToPrint[22:30] + "'")

Up to the 18th position (Way 1): ' onwards'
Up to the 18th position (Way 2): ' onwards'

In [1]:
theParty = ['Bob','Doug','Louise','Nancy','Sarah','Jane']
print(theParty)

theParty[1] = 'Phil' # Doug is replaced at the party by Phil
print(theParty)

theParty[0] = theParty[1]
print(theParty) # Phil is an evil genius and manages to also replace Doug with a Phil clone

['Bob', 'Doug', 'Louise', 'Nancy', 'Sarah', 'Jane']
['Bob', 'Phil', 'Louise', 'Nancy', 'Sarah', 'Jane']
['Phil', 'Phil', 'Louise', 'Nancy', 'Sarah', 'Jane']

In [2]:
britishProgrammers = ["Babbage", "Lovelace"]
nonBritishProgrammers = ["Torvald", "Knuth"]

famousProgrammers = britishProgrammers + nonBritishProgrammers
print(famousProgrammers)

['Babbage', 'Lovelace', 'Torvald', 'Knuth']

In [3]:
print(britishProgrammers * 2)

['Babbage', 'Lovelace', 'Babbage', 'Lovelace']

In [4]:
otherNonBritishProgrammers = ["Wozniak" , "Van Rossum"]
otherNonBritishProgrammers

['Wozniak', 'Van Rossum']

In [5]:
print(nonBritishProgrammers + otherNonBritishProgrammers)

['Torvald', 'Knuth', 'Wozniak', 'Van Rossum']

In [6]:
print ('Lovelace' in britishProgrammers)
print ('Lovelace' in nonBritishProgrammers)

letters = ['a','b','c','d','e','f','g','h','i']
print ('e' in letters)
print ('z' in letters)

True
False
True
False

In [7]:
print(theParty)
print('Bob' not in theParty)
print('Jane' not in theParty)

['Phil', 'Phil', 'Louise', 'Nancy', 'Sarah', 'Jane']
True
False