In [13]:

cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]
city = "Manchester"
print("The average temperature in " + (city) + " is " + str(temperatures.index[cities.index('Manchester')]))

TypeError: 'builtin_function_or_method' object is not subscriptable

In [14]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
    'Chenai':[13.04, 80.16, 'MAA']
}

In [16]:
a = 9/2
print (a)

4.5

In [17]:
a = 9%2
print (a)

1

In [18]:
8%2

0

In [19]:
print( (2*3) ** 2 )

36

In [20]:
print( (2*3) ** 2 / (12 % 5) )

18.0

In [21]:
(2+4) ** 2 % (120 / 30)

0.0

In [22]:
(2+4) ** 2 % (120 / 20)

0.0

In [23]:
(2+4) ** 2 % (120 / 5)

12.0

In [24]:
(2+4) ** 2 % (120 / 7)

1.7142857142857153

In [25]:
(2+4) ** 2 % (120 / 3)

36.0

In [26]:
(2+4) ** 2 % (120 / 9)

9.333333333333332

In [27]:
(2+4) ** 2 % (120 / 11)

3.272727272727275

In [28]:
(2+4) ** 2 % (120 / 1)

36.0

In [29]:
(2+4) ** 2 % (120 / 13)

8.30769230769231

In [30]:
(2+4) ** 2 % (120 / 13.5)

0.44444444444444287

In [31]:
(2+4) ** 2 % (120 / 14)

1.7142857142857153

In [32]:
(2+4) ** 2 % (120 / 15)

4.0

In [33]:
(2+4) ** 2 % (120 / 16)

6.0

In [36]:
result = -2 * 10
print("I'm wasting space...")
print(type(result))
result = float (result)
print(type(result))

I'm wasting space...
<class 'int'>
<class 'float'>

In [37]:
myFirstVariable = 1 * 5
print(myFirstVariable)

5

In [38]:
mySecondVariable = myFirstVariable
print(mySecondVariable)

5

In [39]:
myFirstVariable = 2
print(myFirstVariable)
print(mySecondVariable)

2
5

In [40]:
name = "Peter"

print(name)

Peter

In [41]:
cheers ??? name ??? " is awesome!"
print(cheers)

SyntaxError: invalid syntax (<ipython-input-41-0c2164a99c14>, line 1)

In [42]:
cheers + name + " is awesome!"
print(cheers)

NameError: name 'cheers' is not defined

In [43]:
"cheers" + name + " is awesome!"
print(cheers)

NameError: name 'cheers' is not defined

In [44]:

"cheers" + name + " is awesome!"
print(cheers)

NameError: name 'cheers' is not defined

In [45]:
cheers = name + " is awesome!"
print(cheers)

Peter is awesome!

In [46]:
famous_geographer = "Mercator"
print(famous_geographer)

Mercator

In [47]:
this_var = "Mercator"
This_var = "Galileo"

print(this_var)
print(This_var)

Mercator
Galileo

In [48]:
old_satellite = 'Sputnik 1'
old_satellite_description = " was the first artificial Earth satellite, launched from the Soviet Union on the 4th of October, 1957."
print("Здравствуйте! My name is " + old_satellite)
print(old_satellite + old_satellite_description)

Здравствуйте! My name is Sputnik 1
Sputnik 1 was the first artificial Earth satellite, launched from the Soviet Union on the 4th of October, 1957.

In [50]:
old_satellite = 'Sputnik 1'
old_satellite_description = " was the first artificial Earth satellite, launched from the Soviet Union on the 4th of October, 1957."
new_satellite = "landsat"
print("Здравствуйте! My name is " + old_satellite)
print(old_satellite + old_satellite_description)
print("The new satellite is " + new_satellite + " and the old satellite is " + old_satellite)

Здравствуйте! My name is Sputnik 1
Sputnik 1 was the first artificial Earth satellite, launched from the Soviet Union on the 4th of October, 1957.
The new satellite is landsat and the old satellite is Sputnik 1

In [51]:
print("Hello there " + (new_satellite)+"8" )

Hello there landsat8

In [52]:
diameter_cm = 58
cm2inches = 0.393700787
diameter_inches = (diameter_cm * cm2inches) 
print(diameter_inches)

22.834645646

In [53]:
print(new_satellite + "has a Near Infrared (NI), \
which band captures light in the wavelength from "+
      770 +
      " to " +
      900 +
      " nanometers." )

TypeError: can only concatenate str (not "int") to str

In [54]:
print(new_satellite + "has a Near Infrared (NI), \
which band captures light in the wavelength from "+
      "770" +
      " to " +
      "900 ''+
      " nanometers." )

SyntaxError: EOL while scanning string literal (<ipython-input-54-447828320445>, line 5)

In [55]:
print(new_satellite + "has a Near Infrared (NI), \
which band captures light in the wavelength from "+
      " 770 " +
      " to " +
      " 900 "  +
      " nanometers." )

landsathas a Near Infrared (NI), which band captures light in the wavelength from  770  to  900  nanometers.

In [56]:
# King's College coordinates
# What format are they in? Does it seem appropriate?
longitude = -0.11596798896789551
latitude = 51.51130657591914

#cast the floats to strings
lon = str(longitude)
lat = str(latitude)

# King's College marker
KCL_position = "https://www.openstreetmap.org/?mlat="+lat+"8&mlon="+lon+"#map=15/"+lat+"/"+lon
          
print(KCL_position)

https://www.openstreetmap.org/?mlat=51.511306575919148&mlon=-0.11596798896789551#map=15/51.51130657591914/-0.11596798896789551

In [57]:
projection="Cassini-Soldner" 
print("The "  projection + " projection preserves distances along the central meridian.")

SyntaxError: invalid syntax (<ipython-input-57-23aa2afd0aac>, line 2)

In [58]:
projection = Cassini-Soldner
print("The "  projection + " projection preserves distances along the central meridian.")

SyntaxError: invalid syntax (<ipython-input-58-9a03743efd62>, line 2)

In [59]:
projection="Cassini-Soldner" 
print("The " + projection + " projection preserves distances along the central meridian.")

The Cassini-Soldner projection preserves distances along the central meridian.

In [60]:
projection="Cassini-Soldner" 
print("The " +  projection + " projection preserves distances along the central meridian.")

The Cassini-Soldner projection preserves distances along the central meridian.

In [61]:
print("london has an approx. popoulation of "+ popn + " million people ")

NameError: name 'popn' is not defined

In [62]:
"london has an approx. popoulation of" + 8.5 + "million people "

TypeError: can only concatenate str (not "float") to str

In [63]:
"london has an approx. popoulation of" + float(8.5) + "million people "

TypeError: can only concatenate str (not "float") to str

In [64]:
"london has an approx. popoulation of" + str(8.5) + "million people "

'london has an approx. popoulation of8.5million people '

In [65]:
"london has an approx. popoulation of" + "8.5" + "million people "

'london has an approx. popoulation of8.5million people '

In [66]:
"london has an approx. popoulation of" + " 8.5 " + "million people "

'london has an approx. popoulation of 8.5 million people '

In [67]:
london_population = 8600000
print("London's population is " + london_population)

TypeError: can only concatenate str (not "int") to str

In [68]:
london_population = "8600000"
print("London's population is " + london_population)

London's population is 8600000

In [69]:
myBoolean = True
print(myBoolean)
print("This statement is: '" + str(myBoolean) + "'")

True
This statement is: 'True'

In [70]:
first_variable = 87.0
second_variable = 9

print(first_variable % 80 < second_variable)

True

In [71]:
print("Aardvark" ??? "Ant")
print ord(n)

SyntaxError: invalid syntax (<ipython-input-71-a15d509b55c0>, line 1)

In [72]:
print("Aardvark" ??? "Ant")
print (ord(n))
print (ord(t))

SyntaxError: invalid syntax (<ipython-input-72-6b49fb0e5571>, line 1)

In [73]:
print("Aardvark" > "Ant")
print (ord(n))
print (ord(t))

False

NameError: name 'n' is not defined

In [74]:
print("Aardvark" ??? "Ant")
print (ord("n"))
print (ord("t"))

SyntaxError: invalid syntax (<ipython-input-74-0e760f11f0a9>, line 1)

In [75]:
print("Aardvark" > "Ant")
print (ord(n))
print (ord(t))

False

NameError: name 'n' is not defined

In [76]:
print("Aardvark" > "Ant")
print (ord("n"))
print (ord("t"))

False
110
116

In [77]:
2 == 34

False

In [78]:
7 == 7

True

In [79]:
"Foo" == "Foo"

True

In [80]:
"Foo" == "Bar"

False

In [81]:
10 % 3 == 3 / 3

True

In [82]:
print(10 % 3)
print(3 / 3)

1
1.0

In [83]:
# Reset the variables to their 'defaults'
british_capital = "London"
french_capital  = "Paris"

# This time python is going to print True,
# since we are comparing different things
# using the Not Equal operator!
print(british_capital != french_capital)

True

In [84]:
# Condition 1
if 2 > 1:
    print("> Condition #1")
    
# Condition 2
if 1 > 2: 
    print("> Condition #2")
    
# Condition 3
if "Foo" == "Foo":
    print("> Condition #3")
    myVar = 1 + 5
    print("     My var: " + str(myVar))
    
# Condition 4
if "Foo" != "Foo":
    print("> Condition #4")
    myVar = 1 + 5
    print("     My var: " + str(myVar))
    
print("Done.")

> Condition #1
> Condition #3
     My var: 6
Done.

In [85]:
london_population = 8600000
paris_population  = 2200000 

if london_population > paris_population:
    print("London is larger than Paris")

London is larger than Paris

In [86]:
london_population = 8600000

if london_population > 2000000:
    print(str(london_population) + " is more than 2 million people")

if london_population < 10000000:
    print(str(london_population) + " is less than 10 million people")

8600000 is more than 2 million people
8600000 is less than 10 million people

In [87]:
if (london_population % 8000000) == 600000:
    print("Good job")

Good job

In [88]:
newyork_population = 8400000 

if london_population < newyork_population:
    largest_city = "New York" 
else:
    largest_city = "London"
    
print("The largest city is " + largest_city)

The largest city is London

In [90]:
mythreshold = 1000000
if london_population <= mythreshold:
    print("London's population is below my threshold")
else: 
    print("London's popuation is above my threshold")

London's popuation is above my threshold

In [91]:
# Like so:
myUpperBoundary = 12000000
myLowerBoundary = 2000000

if london_population < myUpperBoundary:
    print("London is below my upper threshold.")

elif london_population > myLowerBoundary:
    print("London is above my lower threshold.")

elif london_population != 340000: 
    print("London population is not equal to 340,000.")
    
else:
    print("How did I get here?")
    
print("And now back to normal code execution.")

London is below my upper threshold.
And now back to normal code execution.

In [92]:
london_population = 10
if london_population <= 9:
    print("First case is true")
elif london_population > 99: 
    print("Second case is true")
elif london_population == 4:
    print("Third case is true")
else:
    print("Well, looks like none of the above statements were true!")

print("And now back to normal code execution.")

Well, looks like none of the above statements were true!
And now back to normal code execution.

In [93]:
condition1 = 2 < 4 # True
condition2 = (6/3) == 2 # Also True

if (condition1) and (condition2): # Both are true
    print("1. Both conditions are true!")
else:
    print("1. Mmm... something's wrong!")
    
if condition1 and 6.0/5 == 1:
    print("2. Both conditions are true!")
else:
    print("2. Mmm... something's wrong!")

1. Both conditions are true!
2. Mmm... something's wrong!

In [98]:
condition1 = 2 < 4
condition2 = (6/3) != 2

if (condition1) or (condition2):
    print("Either one or two conditions are true!")
else:
    print('mmh..they must both be false')

Either one or two conditions are true!

In [100]:



if not conditionInverted:
   print("I'm True")
elif not (4%3  != 1):
   print("2")
else:
   print("99" == str(99)+1)

2

In [117]:
# variable with the City borough's total population (in thousands)
city_of_London = 7.375
# City borough's map marker
city_coords = "http://www.openstreetmap.org/?mlat=51.5151&mlon=-0.0933#map=14/51.5151/-0.0933"

# Other boroughs
camden = 220.338
camden_coords = "http://www.openstreetmap.org/?mlat=51.5424&mlon=-0.2252#map=12/51.5424/-0.2252"
hackney = 246.270
hackney_coords = "http://www.openstreetmap.org/?mlat=51.5432&mlon=-0.0709#map=13/51.5432/-0.0709"
lambeth = 303.086
lambeth_coords = "http://www.openstreetmap.org/?mlat=51.5013&mlon=-0.1172#map=13/51.5013/-0.1172"

# Let's ask the user for some input
# and store his answer
user_input = input("""
Choose a neighbourhood by type the corresponding number:
1- City of London
2- Lambeth
3- Camden
4- Hackney
""")

# Arbitrarily assign case 1 to City of London borough

if (user_input == '1'):    
    choosen_borough = city_of_London
    borough_coordinates = city_coords 
    # print the output
    # notice we are casting the user answer to string
    print("You have choosen number : "+ str(user_input))
    print("The corresponding borough has a population of "+ str(choosen_borough) +" thousand people")
    print("Visit the borough clicking here: " + borough_coordinates)

    # ---------------
    # add more cases here...
    # ---------------
#lambeth 2
elif (user_input == "2"):
    choosen_borough = lambeth
    borough_coordinates = lambeth_coords
    print("You have choosen number :"+ str(user_input))
    print("The corresponding borought has a population of"+ str(choosen_borough)+"thousand people")
    print("Visit the borough clicking here: " + borough_coordinates)
#candem 3
elif (user_input == "3"):
    choosen_borough = camden
    borough_coordinates = camden_coords
    print("You have choosen number :"+ str(user_input))
    print("The corresponding borought has a population of"+ str(choosen_borough)+"thousand people")
    print("Visit the borough clicking here: " + borough_coordinates)
    
#hackney 4
elif  (user_input == "4"):
    choosen_borough = hackney
    borough_coordinates = hackney_coords
    print("You have choosen number :"+ str(user_input))
    print("The corresponding borought has a population of"+ str(choosen_borough)+"thousand people")
    print("Visit the borough clicking here: " + borough_coordinates)
    
else:
    print("That's not in my system. Please try again!")

Choose a neighbourhood by type the corresponding number:
1- City of London
2- Lambeth
3- Camden
4- Hackney
 4

You have choosen number :4
The corresponding borought has a population of246.27thousand people
Visit the borough clicking here: http://www.openstreetmap.org/?mlat=51.5432&mlon=-0.0709#map=13/51.5432/-0.0709

In [123]:
x = 12
y = 10

z = x + y
x = x + y
y = z + y

print(z)
print(x)
print(y)

22
22
32

In [124]:
myList = [1,2,4,5]
print(myList)

[1, 2, 4, 5]

In [125]:
myList = ['hi I am', 2312, 'mixing', 6.6, 90, 'strings, integers and floats']
print(myList)

['hi I am', 2312, 'mixing', 6.6, 90, 'strings, integers and floats']

In [127]:
myNewList = ['first', 'second', 'third']
print("The first element is: " + myNewList[0])
print("The third element is: " + myNewList[2])
print(myNewList[-1])
print(myNewList[-2])

The first element is: first
The third element is: third
third
second

In [132]:
myNewList = ['first', 'second', 'third']
print("The second element is :" + myNewList[-3])

The second element is :first

In [133]:
myString = "ABCDEF"
print(myString[0])
print(myString[-1])

A
F

In [134]:
shortSentence = "Now I'll just print THIS word, between the 20th and the 25th character: "
print(shortSentence[20:25])

THIS

In [135]:
shortSentence2 = "A12B34c7.0"
print(shortSentence2[1:3])

12

In [137]:
stringToPrint = "I will print from HERE onwards"
print("Starting from the 17th position: '" + stringToPrint[17:] + "'")

Starting from the 17th position: ' HERE onwards'

In [140]:
stringToPrint = "I will print from HERE onwards"
print("Up to the 18th position (Way 1): '" + stringToPrint[-8:] + "'")
print("Up to the 18th position (Way 2): '" + stringToPrint[22:30] + "'")

Up to the 18th position (Way 1): ' onwards'
Up to the 18th position (Way 2): ' onwards'

In [1]:
theParty = ['Bob','Doug','Louise','Nancy','Sarah','Jane']
print(theParty)

theParty[1] = 'Phil' # Doug is replaced at the party by Phil
print(theParty)

theParty[0] = theParty[1]
print(theParty) # Phil is an evil genius and manages to also replace Doug with a Phil clone

['Bob', 'Doug', 'Louise', 'Nancy', 'Sarah', 'Jane']
['Bob', 'Phil', 'Louise', 'Nancy', 'Sarah', 'Jane']
['Phil', 'Phil', 'Louise', 'Nancy', 'Sarah', 'Jane']

In [2]:
britishProgrammers = ["Babbage", "Lovelace"]
nonBritishProgrammers = ["Torvald", "Knuth"]

famousProgrammers = britishProgrammers + nonBritishProgrammers
print(famousProgrammers)

['Babbage', 'Lovelace', 'Torvald', 'Knuth']

In [3]:
print(britishProgrammers * 2)

['Babbage', 'Lovelace', 'Babbage', 'Lovelace']

In [4]:
otherNonBritishProgrammers = ["Wozniak" , "Van Rossum"]
otherNonBritishProgrammers

['Wozniak', 'Van Rossum']

In [5]:
print(nonBritishProgrammers + otherNonBritishProgrammers)

['Torvald', 'Knuth', 'Wozniak', 'Van Rossum']

In [6]:
print ('Lovelace' in britishProgrammers)
print ('Lovelace' in nonBritishProgrammers)

letters = ['a','b','c','d','e','f','g','h','i']
print ('e' in letters)
print ('z' in letters)

True
False
True
False

In [7]:
print(theParty)
print('Bob' not in theParty)
print('Jane' not in theParty)

['Phil', 'Phil', 'Louise', 'Nancy', 'Sarah', 'Jane']
True
False

In [1]:
firstProgrammerSurnames = ["Babbage", "Lovelace"]
firstProgrammerNames    = ["Charles", "Ada"]

firstProgrammerSurnames[1] = firstProgrammerNames[1] + " " + firstProgrammerSurnames[1]

print("Lady "+ firstProgrammerSurnames[1] +" is considered to be the first programmer.")

Lady Ada Lovelace is considered to be the first programmer.

In [2]:
myList = [] # An empty list

myList = myList + ['New item']
myList = myList + ['Another new item']
myList = myList + ['And another one!']

print(myList)

['New item', 'Another new item', 'And another one!']

In [3]:
myList = [] # An empty list

myList.append('New item')
myList.append('Another new item')
myList.append('And another one!')

print(myList)

['New item', 'Another new item', 'And another one!']

In [4]:
myName = [] #an empty name

myName.append('Iria')
myName.append('Carreira')
myName.append('Castro')

print(myName)

['Iria', 'Carreira', 'Castro']

In [10]:
theParty = ['Bob','Doug','Louise','Nancy','Sarah','Jane']
theParty.index("Sarah")

4

In [11]:
britishProgrammers = ['Lovelace']
britishProgrammers.append("Turing")
print(britishProgrammers)

['Lovelace', 'Turing']

In [12]:
nonBritishProgrammers = ["Torvald", "Knuth"]
print(nonBritishProgrammers.index("Knuth"))

1

In [13]:
nonBritishProgrammers = ["Torvald", "Knuth"]
print(nonBritishProgrammers.index("Knuth"))
nonBritishProgrammers.append("Hopper") 
print(nonBritishProgrammers.index("Hopper"))

1
2

In [14]:
print( len(britishProgrammers) )

2

In [15]:
length_of_list = len(nonBritishProgrammers)
print("There are " + str(length_of_list) + " elements in the list of non-British Programmers")

There are 3 elements in the list of non-British Programmers

In [19]:
print(int(length_of_list + 1))

4

In [20]:
three = "3"
# Let's check the data type
type(three)

str

In [21]:
# Change to Integer
three = int(three)
type(three)

int

In [22]:
length_of_brits = len(britishProgrammers)
print "There are " length_of_brits " British programmers."

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("There are " length_of_brits " British programmers.")? (<ipython-input-22-c08419ec5139>, line 2)

In [23]:
length_of_brits = len(britishProgrammers)
print "There are " + lenght_of_brits + " British programmers."

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("There are " + lenght_of_brits + " British programmers.")? (<ipython-input-23-d0651838966d>, line 2)

In [26]:
length_of_brits = len(britishProgrammers)
length_of_brits = str(length_of_brits)
print ("There are " + length_of_brits + " British programmers.")

There are 2 British programmers.

In [27]:
# We'll see more of this package import
# later... for now, just know that it 
# provides access to a function called IFrame
from IPython.display import IFrame

# We want to view an OpenStreetMap map
siteName  = "http://www.openlinkmap.org/small.php"

# Specify the location and zoom level
latitude  = 63.6314
longitude = -19.6083
zoomLevel = 10
mapURL    = ['?lat=', str(latitude), '&lon=', str(longitude), '&zoom=', str(zoomLevel)]

# Show the ULR
print(siteName + ''.join(mapURL))

# And now show us an inline map!
IFrame(siteName + ''.join(mapURL), width='100%', height=400)

http://www.openlinkmap.org/small.php?lat=63.6314&lon=-19.6083&zoom=10

In [30]:
# King's College coordinates
# What format are they in? Does it seem appropriate?
KCLMapCoordinates = [51.51130657591914, -0.11596798896789551, 15]
print(KCLMapCoordinates)

[51.51130657591914, -0.11596798896789551, 15]

In [31]:
# We want to view an OpenStreetMap map
siteName  = "http://www.openlinkmap.org/small.php"

# Specify the location and zoom level
latitude  = KCLMapCoordinates[0]
longitude = KCLMapCoordinates[1]
zoomLevel = 15
mapURL    = ['?lat=', str(latitude), '&lon=', str(longitude), '&zoom=', str(zoomLevel)]

# Show the ULR
print(siteName + ''.join(mapURL))

# And now show us an inline map!
IFrame(siteName + ''.join(mapURL), width='100%', height=400)

http://www.openlinkmap.org/small.php?lat=51.51130657591914&lon=-0.11596798896789551&zoom=15

In [32]:
myDict = {
    "key1": "Value 1",
    3: "3rd Value",
    "key2": "2nd Value",
    "Fourth Key": [4.0, 'Jon']
}
print(myDict)

{'key1': 'Value 1', 3: '3rd Value', 'key2': '2nd Value', 'Fourth Key': [4.0, 'Jon']}

In [33]:
print(myDict["key1"])
print(myDict["Fourth Key"])

Value 1
[4.0, 'Jon']

In [34]:
print(myDict["key2"])

2nd Value

In [35]:
print(myDict[99])

KeyError: 99

In [39]:
country = ['Costa Rica','Croatia','Cuba'] #keys
capital_city = ['San Jose','Zagreb','Havana'] #values
capitalDict = dict(zip(country,capital_city))
capitalDict

{'Costa Rica': 'San Jose', 'Croatia': 'Zagreb', 'Cuba': 'Havana'}

In [40]:
print(capitalDict['Croatia'])

Zagreb

In [1]:
eNumbers = {
    "IS": '112', # It's not very important here whether we use single- or double-quotes
    "US": '911'
}
print("The Icelandic emergency number is " + eNumbers['IS'])
print("The American emergency number is " + eNumbers['US'])

The Icelandic emergency number is 112
The American emergency number is 911

In [2]:
programmers = {
    "Charles": "Babbage",
    "Ada": "Lovelace",
    "Alan": "Turing"
}

print(programmers.keys())

dict_keys(['Charles', 'Ada', 'Alan'])

In [3]:
print(programmers.values())

dict_values(['Babbage', 'Lovelace', 'Turing'])

In [4]:
# Output is a list of key-value pairs!
print(programmers.items())

dict_items([('Charles', 'Babbage'), ('Ada', 'Lovelace'), ('Alan', 'Turing')])

In [6]:
country = ['Costa Rica','Croatia','Cuba'] #keys
capital_city = ['San Jose','Zagreb','Havana'] #values
capitalDict = dict(zip(country,capital_city))
capitalDict
print(capitalDict.values())

dict_values(['San Jose', 'Zagreb', 'Havana'])

In [7]:
print("Charles" in programmers)
print("Babbage" in programmers)
print(True  not in programmers)

True
False
True

In [8]:
print(programmers.get("Lady Ada", "Are you sure you spelled that right?") )

Are you sure you spelled that right?

In [12]:
# Format: city, country, population, area (km^2)
cityData = [
    ['London','U.K.',8673713,1572],
    ['Paris','France',2229621,105],
    ['Washington, D.C.','U.S.A.',672228,177],
    ['Abuja','Nigeria',1235880,1769],
    ['Beijing','China',21700000,16411],
]

print(cityData[1][1])
print(cityData[4][3])
print(cityData[2][0])

France
16411
Washington, D.C.

In [13]:
# American Emergency Number: 911
# British Emergency Number: 999
# Icelandic Emergency Number: 112
# French Emergency Number: 112
# Russian Emergency Number: 102
eNumbers = {
    'IS': ['Icelandic',112],
    'US': ['American',911],
    'FR': ['French',112],
    'RU': ['Russian',102],
    'UK': ['British',999]
}
print("The " + eNumbers['IS'][0] + " emergency number is " + str(eNumbers['IS'][1]))
print("The " + eNumbers['US'][0] + " emergency number is " + str(eNumbers['US'][1]))
print("The " + eNumbers['FR'][0] + " emergency number is " + str(eNumbers['FR'][1]))

The Icelandic emergency number is 112
The American emergency number is 911
The French emergency number is 112

In [15]:
print("The " + eNumbers['RU'][0] + " emergency number is " + str(eNumbers['RU'][1]))
print("The " + eNumbers['UK'][0] + " emergency number is " + str(eNumbers['UK'][1]))

The Russian emergency number is 102
The British emergency number is 999

In [16]:
cityData2 = {
    'London' : {
        'population': 8673713,
        'area': 1572, 
        'location': [51.507222, -0.1275],
        'country': {
            'ISO2': 'UK',
            'Full': 'United Kingdom',
        },
    },
    'Paris' : {
        'population': 2229621,
        'area': 105.4,
        'location': [48.8567, 2.3508],
        'country': {
            'ISO2': 'FR',
            'Full': 'France',
        },
    }
}

In [17]:
print(cityData2['Paris'])
print(cityData2['Paris']['country']['ISO2'])
print(cityData2['Paris']['location'][0])

{'population': 2229621, 'area': 105.4, 'location': [48.8567, 2.3508], 'country': {'ISO2': 'FR', 'Full': 'France'}}
FR
48.8567

In [19]:
print("The population of Paris, the capital of " + str(cityData2['Paris']['country']['Full']) + " " \
      + "(" + str(cityData2['Paris']['country']['ISO2']) + ") " + "is "+ str(cityData2['Paris']['population']) + ".")

The population of Paris, the capital of France (FR) is 2229621.

In [25]:
print("It has a density of " + str(cityData2['Paris']['population'] / cityData2["Paris"]['area']))

It has a density of 21153.899430740035

In [26]:
counter = 1 
# Starting condition: counter is at 1

print("The while loop is ready to begin.")

while counter <= 10: # Test the condition
    print("The counter is at: " + str(counter))
    counter += 1 # Increment the counter
    
print("The while loop has ended.")

The while loop is ready to begin.
The counter is at: 1
The counter is at: 2
The counter is at: 3
The counter is at: 4
The counter is at: 5
The counter is at: 6
The counter is at: 7
The counter is at: 8
The counter is at: 9
The counter is at: 10
The while loop has ended.

In [27]:
otherCounter = 1
print("This is an odd number")

while otherCounter <= 10:
    print("This is an odd number: " + str(otherCounter))
    otherCounter += 2
    
print('The odd number has ended')

This is an odd number
This is an odd number: 1
This is an odd number: 3
This is an odd number: 5
This is an odd number: 7
This is an odd number: 9
The odd number has ended

In [28]:
myThirdCounter = 10

while myThirdCounter >= 0:
    print("Decrementing counter: " + str(myThirdCounter))
    myThirdCounter -= 1

Decrementing counter: 10
Decrementing counter: 9
Decrementing counter: 8
Decrementing counter: 7
Decrementing counter: 6
Decrementing counter: 5
Decrementing counter: 4
Decrementing counter: 3
Decrementing counter: 2
Decrementing counter: 1
Decrementing counter: 0

In [29]:
myFourthCounter = 1

while myFourthCounter < 10:
    
    print(str(myFourthCounter))
    myFourthCounter += 1
    
    if myFourthCounter == 5:
        print("Time to escape this madness!")
        break

1
2
3
4
Time to escape this madness!

In [30]:
i=0
while True:
    i += 1

    if i % 2 != 0:
        print( str(i) + " is odd.")
        if i == 9:
            print("\t i is 9")
        else:
            print("\t i is not 9")
    else:
        print( str(i) + " is even.")
        if i % 4 == 0:
            print("\t i is divisible by 4.")
        elif i == 8:
            print("\t i is 8")

    if i == 21:
        break

1 is odd.
	 i is not 9
2 is even.
3 is odd.
	 i is not 9
4 is even.
	 i is divisible by 4.
5 is odd.
	 i is not 9
6 is even.
7 is odd.
	 i is not 9
8 is even.
	 i is divisible by 4.
9 is odd.
	 i is 9
10 is even.
11 is odd.
	 i is not 9
12 is even.
	 i is divisible by 4.
13 is odd.
	 i is not 9
14 is even.
15 is odd.
	 i is not 9
16 is even.
	 i is divisible by 4.
17 is odd.
	 i is not 9
18 is even.
19 is odd.
	 i is not 9
20 is even.
	 i is divisible by 4.
21 is odd.
	 i is not 9

In [33]:
# So use i and j as counters because 
# this is a stylistic convention and 
# helps you to to write more concise code
# (and be constructively lazy).

i = 0

while True:
    
    i += 1
    
    if i % 2 != 0:
        print(i)
    else:
        continue
        print("WOOT!")
 
    
    if i % 7 == 0:
         else:
                break
    
    if i == 25:
        break
    
print("Done!")

SyntaxError: invalid syntax (<ipython-input-33-0e1efcc6c1d8>, line 20)

In [34]:
i = 0

while True:
    
    i += 1
    
    if i % 2 != 0:
        if i % 7 == 0:
            print("WOOT!")
        else:
            print(i)
    
    if i == 25:
        break
    
print("Done!")

1
3
5
WOOT!
9
11
13
15
17
19
WOOT!
23
25
Done!

In [35]:
i = 0
while True:
    i += 1
    
    if i % 2 != 0:
        continue
    if i == 22:
        break
    print(i)

print("Done!")

2
4
6
8
10
12
14
16
18
20
Done!

In [37]:
# remember our friends, the british computer scientists?
britishCompList = ["babbage", "lovelace", "turing"]

# this is the condition python is going to check against
stoppingCondition = len(britishCompList)

counter = 0
while counter < stoppingCondition:
    print(britishCompList[counter] + " was a british computer scientist")
    # don't forget to increment the counter!!!
    counter += 1

babbage was a british computer scientist
lovelace was a british computer scientist
turing was a british computer scientist

In [38]:
counter = 0
nonBritishProgrammers = ["Torvald", "Knuth", "Swartz"]
stoppingCondition = len(nonBritishProgrammers)

while counter < stoppingCondition :
    print("This is a computer genius too: " + nonBritishProgrammers[counter])
    #  always remember to increment the counter!!!
    counter += 1

This is a computer genius too: Torvald
This is a computer genius too: Knuth
This is a computer genius too: Swartz

In [39]:
counter = 0
nonBritishProgrammers = ["Torvald", "Knuth", "Swartz"]
stoppingCondition = len(nonBritishProgrammers) -1

while counter <= stoppingCondition :
    print("These are geniuses too! " + nonBritishProgrammers[counter])
    #  always remember to increment the counter!!!
    counter +=1

These are geniuses too! Torvald
These are geniuses too! Knuth
These are geniuses too! Swartz

In [40]:
for programmer in britishCompList:
    print(programmer)

babbage
lovelace
turing

In [41]:
# WHILE LOOP
whileCounter = 0
myList = [0,1,2,3,4]
stoppingCondition = len(myList)
while whileCounter < stoppingCondition:
    print("Element number: " + str(myList[whileCounter]))
    whileCounter +=1

Element number: 0
Element number: 1
Element number: 2
Element number: 3
Element number: 4

In [42]:
for element in myList:
     print("Element number: " + str(element))

Element number: 0
Element number: 1
Element number: 2
Element number: 3
Element number: 4

In [43]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for n in numbers:
    if (n % 2 !=0):
        print(n)

1
3
5
7
9

In [44]:
programmers = {
    "Charles": "Babbage",
    "Ada": "Lovelace",
    "Alan":"Turing"
}
for k in programmers:
    print(k)

Charles
Ada
Alan

In [45]:
for k,v in programmers.items():
    print("this is the value: \'" + v + "\' for the key: \'" + k +"\'")

this is the value: 'Babbage' for the key: 'Charles'
this is the value: 'Lovelace' for the key: 'Ada'
this is the value: 'Turing' for the key: 'Alan'

In [46]:
KCL_marker = {
      "type": "Feature",
      "properties": {
        "marker-color": "#7e7e7e",
        "marker-size": "medium",
        "marker-symbol": "",
        "name": "KCL"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -0.11630058288574219,
          51.51135999349117
        ]
      }
    }
for p,v in KCL_marker["properties"].items():
    print("KCL_marker has a property: '" + p + "' for the key: " + k)

KCL_marker has a property: 'marker-color' for the key: Alan
KCL_marker has a property: 'marker-size' for the key: Alan
KCL_marker has a property: 'marker-symbol' for the key: Alan
KCL_marker has a property: 'name' for the key: Alan

In [47]:
myList = [1,"two", False, 9.99]
len(myList) # A function

4

In [48]:
def myFirstFunc():
    print("Nice to meet you!")

In [49]:
myFirstFunc

In [50]:
# the function definition
def myFirstFunc():
    print("Nice to meet you!")

# the function call
myFirstFunc()

Nice to meet you!

In [51]:
print(myVariable)
myVariable = "Hallo Hallo!"

NameError: name 'myVariable' is not defined

In [52]:
print(myVariable)
myVariable = "Hallo Hallo!"
myVariable()

NameError: name 'myVariable' is not defined

In [53]:
myVariable = "Hallo Hallo!"
print(myVariable)

Hallo Hallo!

In [54]:
def genericFunc(parameter):
    # do something to parameter
    # ...
    # do something else..
    # ...
    return 
    print("this line won't be ever executed! how sad!")
    print("nope. this won't either, sorry.")

In [59]:
# London's total population
london_pop = 7375000

# list with some of London's borough. Feel free to add more! 
london_boroughs = {
    "City of London": {
     "population": 8072,
     "coordinates" : [-0.0933, 51.5151]
    },
    "Camden": {
     "population": 220338,
     "coordinates" : [-0.2252,1.5424]
    },
    "Hackney": {
     "population": 220338,
     "coordinates" : [-0.0709, 51.5432]
    },
    "Lambeth": {
     "population": 303086,
     "coordinates" : [-0.1172,51.5013]
    }
}
#in this function definition we provide a default value for city_pop
#this makes sense here because we are only dealing with london
def calcProportion(boro,city_pop=7375000):
    return boro['population']/city_pop

def getLocation(boro):
    return boro['coordinates'] #returns the value for the `coordinates` key from the value for the `Lambeth` key

<function calcProportion at 0x7fa69124f8c0>

In [60]:
for k, v in cities.items():
    print(k + " -> " + v[2])

NameError: name 'cities' is not defined

In [61]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
    'Chenai':[13.04, 80.16, 'MAA']
}
for k, v in cities.items():
    print(k + " -> " + v[2])

San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chenai -> MAA

In [62]:
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]

In [64]:
print(temperatures[1:4])

[16.5, 13.4, 14.0]

In [66]:
print(temperatures[4:6])
print(temperatures[-2:])

[15.2, 14.8]
[15.2, 14.8]

In [68]:
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
city="Manchester" # Use this to get the solution...
index = cities.index(city)
print("The average temperature in " + cities[index] + " is " + str(temperatures[index]) + " degrees.")

The average temperature in Manchester is 13.4 degrees.